@font-face {
  font-family: analog;
  src: url(../font/DigitalNormal-xO6j.otf);
}

html{
  font-family: analog;
}

body{
  background-color: #f6f1ee;
}

.name{
  margin: auto;
  font-size: 100px;
  text-align: center;
  color: #4f4a45;
}

.calculator{
  margin: auto;
  position: relative;
  top:30px;
  width: 400px;
  height: 700px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #FEE8C7;
}

.display{
  width: 90%;
  height: 200px;
  background-color: rgba(125 140 115);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  word-break: break-all;
}


#result{
  font-size: 40px;
  float: right;
  margin-right: 5px;
}

.keyboard{
  margin: auto;
  width: 90%;
}

#clear,
#divide,
#multiply,
#subtract,
#add,
#equal,
#ac,
#memory,
#percent{
  width: 70px;
  height: 70px;
  background-color: #e6793b;
  border-radius: 35px;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: white;
}

#seven,
#eight,
#nine,
#four,
#five,
#six,
#one,
#two,
#three,
#dot{
  width: 70px;
  height: 70px;
  background-color: #f6f1ee;
  border-radius: 35px;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #4f4a45;
}

#zero{
  width: 160px;
  height: 70px;
  background-color: #f6f1ee;
  border-radius: 35px;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #4f4a45;
}

.button#one:hover,
.button#two:hover,
.button#three:hover,
.button#four:hover,
.button#five:hover,
.button#six:hover,
.button#seven:hover,
.button#eight:hover,
.button#nine:hover,
.button#zero:hover,
.button#dot:hover{
  cursor: pointer;
  color: #f6f1ee;
  background-color: #4f4a45;
}

.button.operator#multiply:hover,
.button.operator#divide:hover,
.button.operator#subtract:hover,
.button.operator#add:hover,
.button.equal#equal:hover,
.button#ac:hover,
.button#memory:hover,
.button#percent:hover{
  cursor: pointer;
  color: #e6793b;
  background-color: white;
}

.button#one:active,
.button#two:active,
.button#three:active,
.button#four:active,
.button#five:active,
.button#six:active,
.button#seven:active,
.button#eight:active,
.button#nine:active,
.button#zero:active,
.button#dot:active,
.button.operator#multiply:active,
.button.operator#divide:active,
.button.operator#subtract:active,
.button.operator#add:active,
.button.equal#equal:active,
.button#ac:active,
.button#memory:active,
.button#percent:active{
  transform: scale(0.95);
}
.column{
  width: 25%;
  float: left;
}
